html,body{
  font-family: Calibri !important;
}

.theme{
  font-family: Calibri !important;
}

.logo-text{
  font-size: 25px !important;
  letter-spacing: 4 !important;
  color: #21929d !important;
  font-weight: bolder !important;
}

.navDiv{
  width: 100% !important;
  background-color: #fff !important;
  font-family: Calibri !important;
  display: inline;
}

.height-50{
  height: 50px !important;
}

.subtitle-heading{
  font-family: Calibri !important;
  font-size: 25px !important;
  font-weight: bold !important;
}

.price-chip{
  font-weight: bold !important;
  font-size: 15px !important;
}

.card1{
  background-color: #fff;
  cursor: pointer  !important;
}

.card1:hover{
  background-color: #e0f7fa !important;
  cursor: pointer  !important;
}